.bg-danger {
  background-color: #b70000 !important;
}

/* .searchBar {
  transition: all linear;
} */

.searchInput {
  width: 40px;
  transition: width 0.3s linear;
}

.searchBar:hover .searchInput,
.searchInput:focus,
.searchInput:valid {
  outline: none;
  width: 230px;
}

.searchBtn,
.searchBtn:hover {
  color: #b70000;
}
