.bg-danger {
  background-color: #b70000 !important;
}

.searchInput {
  width: 40px;
  visibility: hidden;
  transition: width 0.3s linear;
}

.searchBar:hover .searchInput,
.searchInput:focus {
  visibility: visible;
  outline: none;
  width: 230px;
}

.searchBtn,
.searchBtn:hover {
  color: #b70000;
}

.tabela {
  overflow-y: scroll;
  max-height: 80vh;
}

.linhaTabela:hover {
  background-color: #e8e8e8;
}

.editAdmin,
.editAdmin:hover {
  color: black;
  cursor: no-drop;
}

.editAdmin > button {
  border-color: rgba(000, 000, 000, 0) !important;
}
