.bg-danger {
  background-color: #b70000 !important;
}

.containerLogin {
  height: 100vh;
}

.logoCharlie {
  width: 15rem;
}

.logoNav {
  width: 70px;
}

.navbar-toggler {
  border: 0;
}

.fotoAdm {
  width: 50px;
  border-radius: 50%;
}

.carousel-indicators button {
  background-color: black !important;
  opacity: 1 !important;
}

.carousel-indicators [aria-current]:not([aria-current="false"]) {
  background-color: #b70000 !important;
}

.imgHome {
  height: 60%;
  object-fit: cover;
}

.formCriar {
  width: 40rem;
  background: #dee2e6;
}

#login .card {
  width: 30rem;
  border-radius: 15px;
}

#login .card-body label {
  background-color: #c95c5c;
}

#home h2 {
  color: #b70000;
}
