.logoNav {
  width: 70px;
}

.navbar-toggler {
  border: 0;
}

.fotoAdm {
  width: 50px;
  border-radius: 50%;
}

.carousel-indicators button {
  background-color: black !important;
  opacity: 1 !important;
}

.carousel-indicators [aria-current]:not([aria-current="false"]) {
  background-color: #b70000 !important;
}

/* [aria-current]:is([aria-current="page"]) {
  background-color: #b70000 !important;
  color: white !important;
} */

.imgHome {
  height: 60%;
  object-fit: cover;
}

#home h2 {
  color: #b70000;
}
